body {
  background-image: linear-gradient(to top right, #ebc000, #528500, #016b06);
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  position: relative;
}

.container {
  width: 35%;
  height: 15%;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.welcome {
  padding-bottom: 8px;
  border-bottom: solid 6px #ebc000;
  border-width: 100%;
}

h1 {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #ffffff;
}

button {
  width: 150px;
  height: 50px;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 10px;
  border: solid 2px #ccc;
  border-radius: 40px;
  background-color: transparent;
  transition: 0.5s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
}

p {
  color: #ffffff;
}
